<div class="tab-pane fade in active">
    <div class="form-horizontal">
        <h4 class="head text-center">{{vm.title}}</h4>
        <br/>
        <div class='row'>
            <div class='col-xs-offset-1 col-xs-10 col-sm-offset-3 col-md-6'>
                <div class="form-group">
                    <!--<ul class="list-unstyled">
                        <li ng-repeat="red in vm.formData.redes">-->
                           <div class="panel panel-info" ng-repeat="red in vm.formData.redes">
                              <div class="panel-body">
                                <span class="text-center">{{red.link}}  <span ng-click="vm.eliminarRed(red)" class="glyphicon glyphicon-remove text-danger"></span></span>
                              </div>
                            </div>
                        <!--</li>
                    </ul>-->
                    <form>
                    <div class="input-group">
                      <input class="form-control" type="text" ng-model="vm.nuevaRed" placeholder="Introduce link de tu Red Social" >
                      <span class="input-group-btn">
                          <button class="btn btn-primary" ng-click="vm.agregarRed()">Agregar</button>
                      </span>
                    </div>
                    </form>
                </div>
            </div>
        </div>
        <br><br>
        <div class="form-group text-center">
            <a ui-sref="form.ot" class="btn btn-outline-rounded btn-default"> <span style="margin-right:10px;" class="glyphicon glyphicon-arrow-left"></span> Anterior</a>
            <a ui-sref="form.result" class="btn btn-outline-rounded btn-info"> Siguiente <span style="margin-left:10px;" class="glyphicon glyphicon-arrow-right"></span></a>
        </div>
    </div>
</div>